/* ########################################

        Modal Styling

############################################ */

body {
    background: url(img/project-1.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

#open-btn {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 100px;
    font-size: 2rem;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px 5px;
}

p {
    all: unset;
}